{% extends 'App_Course/base.html' %}
{% load static %}
{% load custom_tags %}

{% block page_title %}
    Skill Gliding | Course 
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/scrollBar.css' %}" >
    
    <style>
        .no-preview-icon{
            cursor: not-allowed;
        }

        .lecture:hover{
            background-color: rgb(240, 245, 247);
        }

        .current_lecture{
            background-color: rgb(227, 243, 243);
        }

        .rest_lectures{
            background-color:rgb(250, 250, 250);
        }
    </style>
{% endblock %}

{% block navbar_menu_tab_for_home %} 
 active
{% endblock %}

{% block body_content %}
      

    <div class="container-fluid" >
        <h1 style="margin-top: 70px;">Course: {{course.name}}</h1>
        <br>
        <div class="card p-3">
            <div class="row ">

                <!------------- Video Player --------------->
                <div class="col">
                    <div >
                        <iframe id="player" width="100%" height="315" src="https://www.youtube.com/embed/{{current_video_lecture.video_url}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    
                    <div class="d-flex justify-content-between">
                        <div id="previous">
                            {% if previous_lecture %}
                            <a href="?lecture={{previous_lecture}}" class="btn btn-secondary">&laquo; Prev</a>
                            {% else %}
                            <a href="javascript:void(0);" class="btn btn-secondary disabled">&laquo; Prev</a>
                            {% endif %}
                        </div>
                            
                        <div id="next">
                            {% if next_lecture %}
                            <a href="?lecture={{next_lecture}}" class="btn btn-secondary">Next &raquo;</a>
                            {% else %}
                            <a href="javascript:void(0);" class="btn btn-secondary disabled">Next &raquo;</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-------------- Lectue List ---------------->
                <div class="col-3">
                    <ul id="lecture_list" class="list-group video_lecture_list" style="overflow-y: scroll; ">
                        {% is_enrolled request course.slug as enrolled %}
                        {% for lecture in course_lecture_list %}
                        {% if current_video_lecture == lecture %}
                        <a href="?lecture={{lecture.serial_number}}" class="{% if lecture.is_preview is False and  enrolled is False %} text-muted no-preview-icon{% endif %}" style="text-decoration: none;" >
                            <li class="list-group-item current_lecture lecture" style="border-color: rgb(250, 250, 250);">{{lecture.title}}</li>
                        </a>
                        {% else %}
                        <a href="?lecture={{lecture.serial_number}}" class="{% if lecture.is_preview is False and  enrolled is False %} text-muted no-preview-icon{% endif %}" style="text-decoration: none;" >
                            <li class="list-group-item rest_lectures lecture" style="border-color: rgb(250, 250, 250);">{{lecture.title}}</li>
                        </a>
                        {% endif %}
                        {% endfor %}
                    </ul> 
                </div>
    
            </div>
            
            <!-------------- About Course ---------------->
            <div class="mt-3">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">About Course</h5>
                      <p class="card-text">{{course.description}}</p> 
                    </div>
                </div>
            </div>
            
            <!-------------- Prerequisite Section ---------------->
            <div class="mt-3">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Prerequisite</h5>
                      <p class="card-text">
                        <ol>
                            {% for pre in course.prerequisite_set.all %}
                            <li>{{pre.description}}</li>
                            {% endfor %}
                        </ol>
                      </p> 
                    </div>
                </div>
            </div>
    
            <!-------------- Learning section ---------------->
            <div class="mt-3">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Learning</h5>
                      <p class="card-text">
                        <ol>
                            {% for learn in course.learning_set.all %}
                            <li>{{learn.description}}</li>
                            {% endfor %}
                        </ol>
                      </p> 
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br>

    <script src="{% static 'js/course_player.js' %}"></script>
{% endblock %}